<div class="wrap">
  <div class="about-banner">
    <div class="container">
      <div class="about-banner-title">
        <h1>About Us</h1>
        <h3>Home\\About</h3>
      </div>
      <div class="about-banner-contact">
        <ul class="about-contact-icon">
          <li>Share us on:</li>
          <li>
            <a href=""><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-google-plus-square"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="about-introduction">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="intro-img">
            <div class="upper-img">
              <img src="assets\img\Gearvn_Cyberpunk anime_ (11).jpg" alt="" />
            </div>
            <div class="under-img">
              <img src="assets\img\Kỷ niệm cấp 3_ (10).jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="intro-content">
            <h2>Bakery is one of the oldest in the US</h2>
            <h3>History of the store</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              quas a, consectetur blanditiis sequi nam ea quo perferendis
              exercitationem minus sit maiores quisquam non, accusamus, soluta
              libero commodi temporibus deleniti? Explicabo corporis accusantium
              quod sunt voluptatem laudantium ab delectus eligendi itaque, a hic
              fugit rerum praesentium molestias exercitationem ipsa aperiam
              doloremque! Quae, est similique nesciunt exercitationem laboriosam
              repellat enim? Totam!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="why-choose-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="why-choose-title">
            <h1>Why choose us</h1>
            <p>Best products</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="choose-item">
            <div class="choose-item-img"></div>
            <div class="choose-item-des">
              <h3>Free Shipping</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="choose-item">
            <div class="choose-item-img"></div>
            <div class="choose-item-des">
              <h3>Free Shipping</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="center-img">
            <img src="assets\img\Kỷ niệm cấp 3_ (10).jpg" alt="" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="choose-item">
            <div class="choose-item-des">
              <h3>Free Shipping</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="choose-item-img"></div>
          </div>
          <div class="choose-item">
            <div class="choose-item-des">
              <h3>Free Shipping</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="choose-item-img"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="meet-our-chefs">
    <div class="container">
      <div class="row">
        <div class="chef-title">
          <h1>Meet our chefs</h1>
          <p>The Best Bakers</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="chef-item">
            <div class="chef-img">
              <img src="assets\img\Kỷ niệm cấp 3_ (10).jpg" alt="" />
            </div>
            <div class="chef-info">
              <h2>Uchiha Shisui</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor
                soluta sint repudiandae, praesentium aliquid cupiditate.
              </p>
            </div>
            <div class="chef-contact">
              <ul>
                <li>
                  <a href=""><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-google-plus-square"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="chef-item">
            <div class="chef-img">
              <img src="assets\img\Kỷ niệm cấp 3_ (10).jpg" alt="" />
            </div>
            <div class="chef-info">
              <h2>Uchiha Itachi</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor
                soluta sint repudiandae, praesentium aliquid cupiditate.
              </p>
            </div>
            <div class="chef-contact">
              <ul>
                <li>
                  <a href=""><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-google-plus-square"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="chef-item">
            <div class="chef-img">
              <img src="assets\img\Kỷ niệm cấp 3_ (10).jpg" alt="" />
            </div>
            <div class="chef-info">
              <h2>Uchiha Sasuke</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor
                soluta sint repudiandae, praesentium aliquid cupiditate.
              </p>
            </div>
            <div class="chef-contact">
              <ul>
                <li>
                  <a href=""><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-google-plus-square"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-twitter"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
