<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&family=Playfair+Display:wght@800&family=Work+Sans:wght@500;600;700;800&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="upper-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="bakya-contact-footer">
            <h2 class="lbl">Bakya-Katarina Bakery</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora necessitatibus magnam earum culpa
              corrupti est nobis eveniet fugiat officiis quam?</p>
            <div class="bakya-contact-icon">
              <ul>
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="bakya-address-footer" id="contact">
            <h2 class="lbl">Contact</h2>
            <ul>
              <li><a href="#">Address:</a>&nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
              <li><a href="tel:0339882065">Phone:</a>&nbsp;0339882065</li>
              <li><a href="mailTo:thuyvanthai2013@gmail.com">Email:</a>&nbsp; thuyvanthai2013@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="recent-post-footer">
            <h2 class="lbl">Recent Posts</h2>
            <div class="recent-item">
              <div class="recent-item-img">
                <img src="assets\img\photo-1472457897821-70d3819a0e24.jfif" alt="">
              </div>
              <div class="recent-item-content">
                <a href="#">
                  <h5>Lorem ipsum dolor sit amet consectetur</h5>
                </a>
                <p>Aug 12,2018</p>
              </div>
            </div>
            <div class="recent-item">
              <div class="recent-item-img">
                <img src="assets\img\photo-1472457897821-70d3819a0e24.jfif" alt="">
              </div>
              <div class="recent-item-content">
                <a href="#">
                  <h5>Lorem ipsum dolor sit amet consectetur</h5>
                </a>
                <p>Aug 12,2018</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="bakya-photo-footer">
            <h2 class="lbl">Photos on Instagram</h2>
            <div class="bakya-photo-items">
              <img src="assets\img\Gearvn_Cyberpunk anime_ (11).jpg" alt="">
              <img src="assets\img\intro-1601499029.jpg" alt="">
              <img src="assets\img\Kimono_ (27).jpg" alt="">
              <img src="assets\img\Kỷ niệm cấp 3_ (10).jpg" alt="">
              <img src="assets\img\foody-upload-api-foody-mobile-ava-200610143315.jpg" alt="">
              <img src="assets\img\Nỗi buồn không tên_ (2).jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="under-footer"></div>
</body>

</html>
